<nav>
  <a href="/">HOME</a>
  <a href="/player">Players</a>
  <a href="/club">Clubs</a>
  <a href="/player/goalkeepers">Goalkeepers</a>
  <a href="/player/defenders">Defenders</a>
  <a href="/player/midfielders">Midfielders</a>
  <a href="/player/forwards">Forwards</a>
</nav>
