<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You can:</p>
    <ul>
      <li>View all players by rating</li>
      <li>Search players by club or position</li>
      <li>Update a player's details</li>
      <li>Add a new player</li>
      <li>View clubs and their players</li>
      <li>Update a club's details</li>
      <li>Add a new club</li>
      <li>Delete a player or club</li>
    </ul>


  </body>
</html>

