<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (players.length > 0) { %>
    <p><%= players %></p>
    <% } %>
  </body>
</html>
